mat-card-title {
  text-align: center;
  margin: 2vh;
}

.users {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
}

table {
  width: 80vw;
  margin: 5vh auto;
}

@media only screen and (max-width: 768px) {
  
  .users {
    flex-direction: column;
    align-items: center;
  }
}