<section class="user-information">

  <form [formGroup]="userData" (ngSubmit)="onSubmit()">
    <mat-card-title>Email</mat-card-title>
    <mat-form-field appearance="fill" class="form-field">
      <input 
      matInput
      formControlName="email"
      >
      <mat-error *ngIf="userData.get('email')?.hasError('email')">Email not valid</mat-error>
      <mat-error *ngIf="userData.get('email')?.hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-card-title>First Name</mat-card-title>
    <mat-form-field appearance="fill" class="form-field">
      <input 
      matInput
      formControlName="firstName"
      >
      <mat-error *ngIf="userData.controls['firstName'].invalid">Required</mat-error>
    </mat-form-field>  

    <mat-card-title>Last Name</mat-card-title>
    <mat-form-field appearance="fill" class="form-field"> 
      <input 
      matInput
      formControlName="lastName"
      >
      <mat-error *ngIf="userData.controls['lastName'].invalid">Required</mat-error>
    </mat-form-field>  
    
    <!-- <input 
    type="file"
    formControlName="avatar"
    > -->
    <div>
    <button mat-button color="primary" type="submit" [disabled]="userData.invalid || userData.disabled">Change my data</button>
    <button mat-button color="primary" (click)="enableForm()">Edit</button>
    </div>
  </form>
</section>